.comming-soon{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 180px;
}
.comming-soon p{
	margin-top: 0px;
}
.video-figure{
	width: 100%;
	margin: 0px;
}
.comming-soon p, a{
	font-family: "Pixelify Sans", sans-serif;
	text-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
	font-size: 70px;
	color: white;
	margin-bottom: 10px;
}
.comming-soon a{
	font-size: 30px;
	text-decoration: underline;
}

.page-wrapper{
	margin-top: 200px;
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page{
  background: rgba(20, 30, 20, 0.85); /* Dark green-black with transparency */
  backdrop-filter: blur(4px); /* Soft blur for depth */
  border: 1px solid #3a5c3aee; /* Subtle green border */
	width: 1088px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7) inset;
}
.page p{
	text-align: center;
}
.desc-and-header{
	flex-direction: column;
}
.testimonials{
	margin-top: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.testimonials p{
	font-weight: 400;
	width: 300px;
	font-size: 20px;
}
.creators{
	margin-top: 100px;
	font-size: 18px;
}
@media (max-width: 820px) {
	.comming-soon{
		margin-top: 340px;
	}
}